<header>
  <h1>Where Waldo</h1>

</header>

<div class="container">
  <div id='canvas'>
    <div id="timer"></div>
    <%= image_tag "level-#{@level.id}.jpg" %>
    <div class="target-box" id="target"> </div>
  </div>
</div>

<div id="score-board">
  <h2>High Scores</h2>
  <ul id="ranking">
    <% @players.each do |player| %>
    <li><%= player.name%> <%= player.score %></li>
    <% end %>
  </ul>
  <h3>Your score: <span id="display_score"></span> </h3>
  <%= form_for @level.players.build do |form| %>
    <%= form.hidden_field :score %>
    <%= form.hidden_field :level_id, value: @level.id %>
    <%= form.text_field :name, placeholder: 'Enter your name' %>
    <%= form.submit 'Save' %>
  <% end %>
</div>